:root {
  --primary: #77aa8a;
  --secondary: rgba(194, 237, 208, 0.47);

  --default-font-family: "Lora", serif;
  --heading-font-family: "Kaisei Decol", serif;
  --border: solid 4px black;
}
body {
  font-family: var(--default-font-family);
  text-align: center;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 86px;
}
h2 {
  font-family: var(--heading-font-family);
}
p {
  font-size: 16px;
  line-height: 1.5;
}

.green-background {
  background: var(--secondary);
}
.logo {
  max-width: 150px;
  margin: 0 auto;
}

nav {
  margin-bottom: 15px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 1.5;
}
nav a {
  color: black;
  text-decoration: none;
  padding: 10px 5px;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active-link a {
  color: var(--primary);
}
nav li.active-link a:hover {
  cursor: default;
}

.intro {
  background: white;
  text-align: center;
  padding: 150px 20px;
  border-bottom: var(--border);
  border-top: var(--border);
}
.intro h2 {
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
}
.intro p {
  font-size: 36px;
  font-weight: bold;
  line-height: 30px;
}

.btn-branding {
  padding: 15px 27px;
  background: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  transition: ease-in-out 200ms;
}
.btn-branding:hover {
  background: rgba(255, 255, 255, 0.575);
  color: var(--primary);
}
.btn-branding-outline {
  padding: 15px 27px;
  border: 2px solid var(--primary);
  border-radius: 4px;
  color: var(--primary);
  font-size: 18px;
  line-height: 27px;
  transition: ease-in-out 200ms;
}
.btn-branding-outline:hover {
  color: white;
  background: var(--primary);
}

.projects {
  background: white;
  border: var(--border);
}
.project-images {
  width: 600px;
  padding: 5px;
  margin: 0 auto;
  border: solid 3px var(--secondary);
  border-radius: 4px;
}
.projects p {
  margin-right: 100px;
  margin-left: 100px;
}

.about-header {
  font-size: 60px;
  padding: 100px 20px;
  background: white;
  border-bottom: var(--border);
  border-top: var(--border);
}
.about-container {
  padding: 20px;
  margin-top: 30px;
}
.about-container img {
  width: 350px;
}
.about-container h2 {
  font-size: 70px;
  padding: 20px;
  margin-top: 90px;
}
.about-container p {
  padding: 20px;
  margin-top: 40px;
  margin-right: 200px;
  margin-left: 200px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.575);
}
.work-container {
  background: white;
  border-top: var(--border);
  border-bottom: var(--border);
}

.work-container h1 {
  font-size: 50px;
  margin-top: 100px;
}
.work-container h3 {
  font-size: 24px;
  line-height: 1.5;
}

.work-container p {
  font-size: 12px;
}

.contact-header {
  padding: 50px 20px 0;
}
.contact-link {
  color: var(--primary);
}
.contact-content {
  background: rgba(255, 255, 255, 0.575);
  padding-bottom: 50px;
  margin: 30px 50px;
  border-radius: 4px;
}
.contact-box {
  background: rgba(255, 255, 255, 0.575);
  padding: 30px 120px;
  border-radius: 10px;
}

footer {
  padding: 20px;
  margin-bottom: 30px;
}
footer h3 {
  font-size: 40px;
}
footer p {
  margin: 0;
}
footer a.email-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
footer a.email-link:hover {
  color: var(--primary);
}
footer .social-links a {
  margin: 20px 20px 0;
  color: var(--primary);
  background: rgba(255, 255, 255, 0.575);
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 200ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--primary);
}

@media (max-width: 1200px) {
  .about-container h2 {
    font-size: 40px;
    margin: 0;
  }
}
@media (max-width: 750px) {
  h1 {
    font-size: 55px;
  }
  .intro {
    padding: 100px 20px;
  }
  h2 {
    font-size: 30px;
  }
  .projects,
  .about-container {
    padding: 0;
  }
  .projects .btn-branding-outline,
  .btn-branding {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .projects p {
    margin-right: 50px;
    margin-left: 50px;
  }
  .about-container p {
    margin: 20px 50px 0;
    margin-top: 20px;
  }
  .about-container h2 {
    font-size: 30px;
    padding-bottom: 0;
  }
  .about-description {
    margin: 0 20px 0 20px;
  }
  .about-container img {
    width: 200px;
  }
  .work-container h1 {
    font-size: 30px;
  }
  .contact-content h1 {
    font-size: 30px;
  }
  .contact-content h3 {
    font-size: 15px;
  }
  .contact-content p {
    font-size: 13px;
  }
  .contact-box .btn-branding {
    font-size: 15px;
    padding: 10px 22px;
  }
}
